%h2 About Sasoma Labs

%img.big-img.center-block(src='images/beaker_med.jpg'
  alt=''
  role='presentation'
  aria-hidden='true'
)

%section
  %h3 Our Vision
  %p SasomaLabs will be the industry leader for environmental testing and cannabis testing.

%section
  %h3 Our Mission
  %p SasomaLabs is committed to protecting public health by providing impeccable analytical results and customized services in  timely manner.
