%h2 About SaSomaLabs

%img.big-img.center-block(src='images/beaker_med.jpg'
  alt=''
  role='presentation'
  aria-hidden='true'
)

%p.lead Our goal is to protect human health and the environment by providing accurate and reliable analytical testing for soil, water, and plant, including cannabis.

%section
  %h3 Our Vision
  %p SaSomaLabs will be the industry leader for cannabis and environmental testing.

%section
  %h3 Our Mission
  %p SaSomaLabs is committed to protecting public health and the environment by providing impeccable analytical results and customized services in timely manner.  We promise 24-hour turnaround time, which results in highly loyal customers, while maintaining company profit with hard working and dedicated employees. By working hard and having fun, we provide the best working environment for our employees, keeping their family in mind and promoting great career opportunities.
