%h2 Contact Us

%img.big-img.center-block(src='images/man_med.jpg'
  alt=''
  role='presentation'
  aria-hidden='true'
)

%address
  SaSoma LLC
  %br
  Laboratories &amp; Research Solutions
  %br
  P.O. Box 3645
  %br
  Greenwood Village, CO 80155

%section
  %h3 General inquiries
  %a(href="mailto:info@sasomalabs.com") info@SaSomaLabs.com

%section
  %h3 We are seeking investors
  %p
    Interested investors please contact us at
    %a(href="mailto:investors@sasomalabs.com") investors@SaSomaLabs.com
