!!! 5
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %title Sasoma Labs
    
    %meta(name='viewport' content='width=device-width, initial-scale=1')
    %link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' rel='stylesheet')
    %link(href='styles/sasoma.css' rel='stylesheet')
  %body
    %nav.navbar.navbar-inverse(role='navigation')
      .container-fluid
        %header.navbar-header
          %button.navbar-toggle.collapsed(type='button'
            data-toggle='collapse'
            data-target='#sasoma-navbar-collapse'
          )
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %h1.navbar-brand
            %a(href='/')
              %img(src='images/sasoma_logo.png'
                alt='Sasoma Laboratories'
                width='160'
                height='100'
              )
        .collapse.navbar-collapse.navbar-right#sasoma-navbar-collapse
          %ul.navbar-nav.nav
            %li
              %a(href='/about') About us
            %li
              %a(href='/coming-soon') Services
            %li
              %a(href='/careers') Careers
            %li
              %a(href='/contact') Contact us
    %main.container-fluid(role='main')
      .jumbotron Coming soon to the Denver area
    %footer.container-fluid
      %span 2014 Sasoma Laboratories and Research Solutions
      %span
        %a(href='mailto:aaogbe@yahoo.com') Email us
