.carousel.slide#main-carousel(data-ride='carousel')
  %ol.carousel-indicators
    %li.active(data-target='#main-carousel' data-slide-to='0')
      - (1...4).each do |i|
        %li(data-target='#main-carousel' data-slide-to=i)
  .carousel-inner
    .item.active
      %img.center-block(src='images/beaker_med.jpg'
        alt=''
        role='presentation'
        aria-hidden='true'
      )
      .carousel-caption
        %h3 Who we are
        %p We have a vision for the world
        %a.btn.btn-primary(href='./about.html') Learn more
    .item
      %img.center-block(src='images/woman_med.jpg'
        alt=''
        role='presentation'
        aria-hidden='true'
      )
      .carousel-caption
        %h3 What we do
        %p We are building a safer world
        %a.btn.btn-primary(href='./services.html') Learn more
    .item
      %img.center-block(src='images/people_med.jpg'
        alt=''
        role='presentation'
        aria-hidden='true'
      )
      .carousel-caption
        %h3 Work with us
        %p Find your next career here
        %a.btn.btn-primary(href='./careers.html') Learn more
    .item
      %img.center-block(src='images/man_med.jpg'
        alt=''
        role='presentation'
        aria-hidden='true'
      )
      .carousel-caption
        %h3 Something on your mind?
        %a.btn.btn-primary(href='./contact.html') Let us know
  %a.left.carousel-control(href='#main-carousel'
    role='button'
    data-slide='prev'
  )
    %span(aria-hidden='true' class='glyphicon glyphicon-chevron-left')
    %span(class='sr-only') Previous
  %a.right.carousel-control(href='#main-carousel'
    role='button'
    data-slide='next'
  )
    %span(aria-hidden='true' class='glyphicon glyphicon-chevron-right')
    %span(class='sr-only') Next
.jumbotron Coming soon to the Denver area
