%h2 Services

%img.big-img.center-block(src='images/woman_med.jpg'
  alt=''
  role='presentation'
  aria-hidden='true'
)

%p.lead We analyze, soils, water, plants, cannabis, sludge, manure and miscellaneous types of samples from businesses, municipalities, home owners associations (HOA), farmers, homeowners, environmental consultants and government agencies. Services will include related environmental regulatory services such as completion of discharge monitoring report (DMR), sampling assistance, sample pick up, electronic delivery of results and education. High quality customer-oriented services will be provided such that our customers will not need to hire a full-time, in-house compliance staff.

.row
  %section.col-sm-4
    %h3.ribbon.ribbon-purple Cannabis Testing Services
    %ul.list-unstyled
      %li THC - tetrahydrocannabinol
      %li Cannabinoids
      %li Pesticides and herbicides
      %li Aromatic Terpenes testing
      %li Residual solvents
      %li Metals
      %li Mold, fungi, bacteria, pH and % moisture
  
  %section.col-sm-4
    %h3.ribbon.ribbon-green Environmental Testing Services
    %ul.list-unstyled
      %li WET chemistry (pH, dissolved oxygen, BOD, COD, Turbidity, etc.)
      %li Residue analysis (suspended, dissolved, and settleable)
      %li Identification and quantification of mold, fungi, and bacteria
      %li Metals
      %li Pesticides and herbicides
      %li Comprehensive organic analysis
      %li Petroleum hydrocarbon
  
  %section.col-sm-4
    %h3.ribbon.ribbon-purple Environmental Regulatory Support &amp; Research
    %ul.list-unstyled
      %li Clean Water Act (CWA)
      %li Colorado discharge permit system
      %li Our research department will provide world class research beginning in 2016. We are determined to uncover the potential of cannabis as well as decipher the environmental and human impacts of cannabis, bridging the gaps in the knowledge base and harmonizing the discrepancies in existing studies.
