%h2 Services

%img.big-img.center-block(src='images/woman_med.jpg'
  alt=''
  role='presentation'
  aria-hidden='true'
)

%p.lead We will offer our clients the benefits of our expertise and assist in navigating through the complex arena of regulatory requirement, test methodology, sample collection, and handling procedures.

%section
  %h3 Environmental Testing Services
  %ul.list-unstyled
    %li WET chemistry (pH, dissolved oxygen, BOD, COD, Turbidity, etc.)
    %li Residue analysis (suspended, dissolved, and settleable)
    %li Identification and quantification of mold, fungi, and bacteria
    %li Metals
    %li Pesticides and herbicides
    %li Comprehensive organic analysis
    %li Petroleum hydrocarbon

%section
  %h3 Environmental Regulatory Support
  %ul.list-unstyled
    %li Clean Water Act (CWA)
    %li Colorado discharge permit system

%section
  %h3 Cannabis Testing Services
  %ul.list-unstyled
    %li THC
    %li Cannabinoids
    %li Pesticides and herbicides
    %li Terpene testing
    %li Residual solvents
    %li Metals
    %li Mold, fungi, and bacteria
