body {
  background-color: #e7e7e7; }

.navbar {
  border-radius: 0;
  border-bottom-width: 4px;
  min-height: 90px;
  margin-bottom: 0; }
  .navbar h1 {
    margin: 0;
    padding: 0 15px; }

.navbar-default {
  background-color: #fff; }

.navbar-nav {
  padding-top: 35px; }

main {
  padding-top: 20px;
  background-color: #fff; }

h2 {
  margin-top: 0; }

.jumbotron {
  font-size: 63px; }

footer {
  padding-top: 10px; }
  footer span {
    padding-right: 5px;
    border-right: 1px solid #333; }
    footer span:last-child {
      border-right: 0; }

.carousel-indicators li {
  border-color: #333; }
.carousel-indicators .active {
  background-color: #333; }

.carousel-caption {
  background-color: rgba(51, 51, 51, 0.5);
  width: 300px;
  left: 60%; }

.big-img {
  display: none; }

@media (min-width: 768px) {
  .big-img {
    display: block;
    overflow: hidden; } }
.ribbon {
  color: #fff;
  padding: 3px 7px; }

.ribbon-purple {
  background-color: #a300a3;
  border-bottom: 5px solid #7f007f; }

.ribbon-green {
  background-color: #00a300;
  border-bottom: 5px solid #007f00; }
